body {
	font: 16px/26px 'Roboto', sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
}

a {
	text-decoration: none;
	transition: color 0.2s ease;
	color: #00F;
}

a:hover {
	color: #ff0033;
}

.row {
	margin: 45px 0;
}

.col {
	position: relative;
	width: 860px;
	margin: 0 auto;
	padding: 0;
}

header {
	background: #EA546D;
	background: -moz-linear-gradient(top, #484467 0, #EA546D 80%, #EB5B50 100%);
	background: -webkit-linear-gradient(top, #484467 0, #EA546D 80%, #EB5B50 100%);
	background: -o-linear-gradient(top, #484467 0, #EA546D 80%, #EB5B50 100%);
	background: -ms-linear-gradient(top, #484467 0, #EA546D 80%, #EB5B50 100%);
	background: linear-gradient(to bottom, #484467 0, #EA546D 80%, #EB5B50 100%);
	height: 275px;
	margin-top: 0 !important;
	color: #fff;
}

header h1 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 700;
	font-size: 140%;
	position: absolute;
	float: left;
	top: 50px;
}

header h2 {
	margin: 0;
	float: left;
	font-size: 220%;
	font-weight: 300;
	position: absolute;
	top: 120px;
	left: 0;
}

header p {
	margin: 0;
	padding: 0;
	position: absolute;
	float: left;
	top: 175px;
	left: 0;
	width: 450px;
}

.header-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 50px;
}

.header-menu-item {
	float: left;
	margin-left: 20px;
}

.header-menu-item-link {
	color: #FFF;
}

h2 {
	font-size: 220%;
	font-weight: 300;
	margin-top: 75px;
}

.prices th {
	font-weight: 300;
	font-size: 12px;
	color: #999;
	text-align: left;
}

.prices-number {
	width: 300px;
}

.prices-amount {
	widht: 110px;
}

td.prices-amount {
	text-align: right;
}

.prices tbody {
	font-weight: 300;
	font-size: 18px;
}

.prices tbody td {
	border-bottom: #f7f7f7 1px solid;
}

footer {
	background-color: #484467;
	padding: 35px;
	margin-bottom: 0 !important;
}

footer h3 {
	margin-top: 0;
	color: #999;
	font-weight: 300;
	font-size: 160%;
}

footer, footer a {
	color: #f9f9f9;
}

.contacts {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.calculator {
	font-size: 200%;
	margin: 50px 0 50px 200px;
	width: 450px;
}

.calculator input {
	padding: 3px;
	border: none;
	border-bottom: #CCC 1px solid;
	width: 150px;
	outline: 0;
}

.calculator-number {
	text-align: right;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 100%;
	margin-right: 5px;
}

.calculator-price {
	color: #EB5B50;
	margin: 0 5px;
}

.calculator-total {
	margin-left: 5px;
}